@use "theme" as *;
@use "settings" as *;

.work-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
    border: 0.1rem solid white;
    flex: 0 0 calc((100% / 3) - 2rem);
    margin: 2rem 0;
    margin-left: 1rem;
    transform: scale(0.98);
    transition: transform 300ms;
    &:first-child {
        margin-left: 0;
    }
    @include themed() {
        border: 0.3rem solid t($text);
    }
    @include breakpoint(xxl, max) {
        flex: 0 0 calc((100% / 2) - 1.5rem);
    }
    @include breakpoint(lg, max) {
        flex: 0 0 calc(100%);
        margin-left: 0.5rem;
    }
    &:hover,
    &:focus {
        .work-item__title {
            // font-size: 2rem;
        }
    }
    &__bottom{
        
    }
    &__order {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 700;
        right: 1rem;
    }
    &__title {
        font-size: 3rem;
        transition: all 300ms;
        max-height: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__description {
        font-size: 1.5rem;
        overflow: hidden;
        max-height: 5.5rem;
        text-overflow: ellipsis;
    }
    &__link {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        align-items: center;
        padding: 0.5rem 0.5rem;
        @include themed() {
            border: 0.1rem solid t($text);
        }
        &:hover,
        &:focus {
            @include themed() {
                background-color: t($text);
                color: t($bg);
                .work-item__link-icon {
                    fill: t($bg);
                }
            }
        }
    }
    &__link-icon {
        width: 1rem;
        height: 1rem;
        @include themed() {
            fill: t($text);
        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 2rem;
    transition: all 0.2s;
    user-select: none;

    cursor: grabbing;

    &:active {
        .work-item {
            transform: scale(1);
        }
    }
    &::-webkit-scrollbar {
    }
}
.slide {
    position: relative;
    &__controller-wrap {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        right: 0;
        &.hidden {
            pointer-events: none;
            opacity: 0;
        }
    }
    &__controller {
        background: none;
        border: 0;
        cursor: pointer;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        transition: all 300ms;
        &:hover,
        &:focus {
            @include themed() {
                background-color: t($bg-header);
            }
        }
        &--left {
            right: 3rem;
        }
        &--right {
            right: 0;
        }
        &.hidden {
            pointer-events: none;
            opacity: 0;
        }
        .controller-icon {
            width: 1.5rem;
            height: 1.5rem;
            @include themed() {
                fill: t($text);
            }
            &:hover,
            &:focus {
                @include themed() {
                    stroke: t($bg);
                }
            }
            &:active {
                @include themed() {
                    filter: brightness(0.9);
                }
            }
        }
    }
}
