.app {
  width: 80vw;
  height: 80vh;
  position: relative;
  min-width: 980px;
  min-height: 620px;
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5% auto 4% auto;
}
.nav {
  width: 5%;
  height: 65%;
  margin-top: 10%;
}
.nav-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}
.nav-link {
  font-size: 0.3em;
  line-height: 13em;
  width: 100%;
  height: 15%;
  background-color: grey;
  text-decoration: none;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar-wrap {
  width: 30%;
  height: 100%;
  background-color: rgb(17, 17, 17);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.avatar {
  background: url(./images/avatar.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  /* opacity: 0.3; */
  transition: transform 1s;
}
.avatar:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.page {
  width: 65%;
  height: 100%;
  background-color: none;
}
.footer {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}
