@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
:root {
  --main-color: #086586;
  --second-color: #fff;
  --third-color: #3b3838;
  --main-color-light: #0499ce;
  --main-color-dark: #0d2b35;
  --level-high: #15ce04;
  --level-mid: #cbce04;
  --level-low: #ce2204;
}
* {
  font-family: "Playfair Display", serif;
}
.app {
  width: 80vw;
  height: 80vh;
  position: relative;
  min-width: 980px;
  min-height: 620px;
  background-color: var(--third-color);
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 4% auto 3% auto;
  overflow: hidden;
}
.transitAni-wrap {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 5%;
  width: 95%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}
.transN {
  position: relative;
  height: 34%;
  width: 100%;
  background-color: cyan;
  left: 0;
  top: 0;
  opacity: 0;
  transition: left 1s;
}
/*navbar*/
.nav-wrap {
  width: 5%;
  height: 65%;
  margin-top: 10%;
}
.nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
}
.nav-link {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 0.3em;
  line-height: 13em;
  width: 100%;
  height: 4vw;
  min-height: 49px;
  text-decoration: none;
  text-align: center;
  color: var(--second-color);
  transition: color 0.4s;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.nav-text {
  position: relative;
  pointer-events: none;
}
.nav-light {
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--second-color);
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nav-link:hover {
  color: black;
}
.nav-link:hover .nav-light {
  width: 225%;
  height: 225%;
}
.locked-btn {
  pointer-events: none;
  background-color: var(--main-color);
}
.avatar-wrap {
  position: absolute;
  left: 5%;
  width: 95%;
  height: 100%;
  background-color: var(--third-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.avatar {
  pointer-events: none;
  background: url(./images/IMG_0584.JPG);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
  /* opacity: 0.3; */
  transition: left 0s, top 0s, transform 1s, filter 1s;
  filter: blur(3px) grayscale(69%);
}
.avatar:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  filter: blur(0px) grayscale(0%) saturate(1.3);
  animation: loadBright 0.3s ease-in-out 0.3s;
}
@keyframes loadBright {
  from {
    filter: brightness(10);
  }
  to {
    filter: brightness(0);
  }
}
.avatar-load {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  filter: blur(0px) grayscale(0%) saturate(1.3);
}
.avatar-text {
  pointer-events: none;
  position: absolute;
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  width: 100%;
  top: 0px;
  margin-top: 20%;
  font-size: 9em;
  line-height: 1.3em;
  z-index: 1;
  filter: blur(0px);
  transition: left 0.3s, top 0.3s, transform 1.2s, filter 1s, opacity 1s;
  transition-timing-function: ease-in-out;
}
.avatar::before {
  content: "";
  position: absolute;
  background: url(./images/IMG_0584.JPG);
  /* background: linear-gradient(
    30deg,
    rgba(6, 7, 34, 0.082) 0%,
    rgb(88, 151, 245) 19%,
    rgb(249, 252, 69) 68%,
    rgb(48, 253, 205) 100%
  ); */
  width: 600%;
  height: 100%;
  opacity: 0;
  left: -499%;
  filter: saturate(1200%) blur(9vw);
  animation: movingSpotLight 3.6s ease-in-out 0.9s alternate infinite;
  top: 0;
  margin: auto;
}
@keyframes movingSpotLight {
  from {
    transform: translateX(-20%);
    opacity: 0;
    filter: saturate(1800%) brightness(900%) blur(12vw);
  }
  50% {
    opacity: 50%;
    filter: saturate(1800%) brightness(30%) blur(12vw);
  }

  to {
    opacity: 3%;
    transform: translateX(100%);
    filter: saturate(100%) brightness(900%) blur(12vw);
  }
}
.typing {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  /* animation: animated-text 1s steps(13, end) 1s 1 normal both; */
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.avatar:hover + .avatar-text {
  -ms-transform: scale(9); /* IE 9 */
  -webkit-transform: scale(9); /* Safari 3-8 */
  transform: scale(9);
  filter: blur(10px);
  opacity: 0.3;
}
/* .avatar-anim {
  animation: loadAvatar 2s ease-in-out;
}
.avatar-text-anim {
  animation: loadAvatarText 2s ease-in-out;
} */

@keyframes loadAvatar {
  from {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    filter: blur(0px) grayscale(0%) saturate(1.3);
  }
  to {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
    filter: blur(3px) grayscale(69%) saturate(1);
  }
}
@keyframes loadAvatarText {
  from {
    transform: scaleY(1.1) scaleX(1.1);
    opacity: 0;
    filter: blur(18px);
  }
  to {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
    filter: blur(0);
  }
}
.aw-f {
  position: relative;
  left: 0;
  width: 30%;
}
.a-f {
  background-size: 390%;
  animation: insertPhoto 0.6s ease-in;
}
@keyframes insertPhoto {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

/*page*/
.page-wrap {
  width: 65%;
  height: 100%;
  background-color: var(--third-color);
  overflow: hidden;
}
.page {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
}
.scroll-Target {
  font-family: "Open Sans Condensed", sans-serif;
  clip-path: circle(0%);
  transition: width 2s, clip-path 1s;
}
.scrolled {
  clip-path: circle(75%);
}
.page-title {
  width: 100%;
  height: 20%;
  padding-left: 5%;
  font-size: 3em;
  line-height: 3em;
  color: var(--second-color);
  font-family: "Oleo Script", cursive;
}
.page-content {
  width: 100%;
  height: 80%;
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  justify-content: space-between;
}
.page-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.page-content {
  -ms-overflow-style: none;
}
/*info*/
.info-wrap {
  border: 3px solid white;
  margin-bottom: 9px;
  /* border-radius: 9px; */
  color: var(--second-color);
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.info-wrap:hover {
  background-color: var(--third-color);
}
#info-tag {
  background: green;
  /* border-radius: 9px 0px 0px 9px; */
  width: 20%;
  height: 100%;
  line-height: 3em;
}
#info-data {
  background: blue;
  line-height: 3em;
  text-align: justify;
  margin: auto;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
/*footer*/
.footer {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}
/*svg icon*/
.svg-wrap {
  position: relative;
  width: 60%;
  height: 60%;
  transition: transform 1s;
}

svg * {
  pointer-events: none;
}
.nav-link:hover .svg-wrap {
  transform: scale(1.5);
  transform-origin: center;
  transform-box: fill-box;
}
.nav-link:hover #head {
  transform-origin: center;
  transform-box: fill-box;
  animation: nodHead 0.5s ease-in infinite alternate;
}
.nav-link:hover #tie {
  animation: knot 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
.nav-link:hover #arrow-left {
  animation: arrowMoveLeft 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
.nav-link:hover #arrow-right {
  animation: arrowMoveRight 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
.nav-link:hover #sun {
  fill: rgb(121, 119, 119);
  animation: sunRotate 2s 0.4s ease-in-out infinite;
  transform-origin: bottom;
}
.nav-link:hover #moon {
  fill: rgb(121, 119, 119);
  animation: sunRotate 2s 1.4s ease-in-out infinite;
  transform-origin: bottom;
}
.nav-link:hover .letter {
  animation: letterOut 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: border-box;
}

@keyframes nodHead {
  from {
    transform: rotateX(0deg) translateY(0px);
    stroke: currentColor;
  }
  to {
    transform: rotateX(30deg) translateY(60px);
    stroke: rgb(121, 119, 119);
  }
}
@keyframes knot {
  from {
    transform: rotateY(0deg);
    fill: currentColor;
  }
  to {
    transform: rotateY(60deg);
    fill: rgb(121, 119, 119);
  }
}
@keyframes arrowMoveLeft {
  from {
    transform: translateX(0);
    fill: currentColor;
  }
  to {
    transform: translateX(-30px);
    fill: rgb(121, 119, 119);
  }
}
@keyframes arrowMoveRight {
  from {
    transform: translateX(0);
    fill: currentColor;
  }
  to {
    transform: translateX(30px);
    fill: rgb(121, 119, 119);
  }
}
@keyframes sunRotate {
  0% {
    transform: rotateZ(0deg);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(350deg);
    opacity: 0;
  }
  100% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes letterOut {
  from {
    transform: translateY(0);
    fill: currentColor;
  }
  to {
    transform: translateY(-21px);
    fill: rgb(121, 119, 119);
  }
}
/*card*/
.card-wrap {
  width: 28%;
  height: 50vh;
  text-align: center;
  border: 3px solid black;
  border-radius: 9px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 5%;
  transition: transform 0.4s ease-in-out;
}
.card-image {
  background-color: grey;
  width: 100%;
  height: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-wrap:hover {
  transform: scale(1.1);
}
.card-wrap:hover > .card-text {
  transform: scale(0.9);
}
.card-text {
  width: 100%;
  height: 30%;
  font-size: 1em;
  padding: 2em;
  color: white;
  background-color: darkolivegreen;
  transition: transform 0.4s ease-in-out;
  border-radius: 0px 0px 9px 9px;
}
.card-text:hover {
  color: black;
}
/*progress bar*/
.skill-wrap {
  width: 100%;
  margin-bottom: 9px;
  /* border-radius: 9px; */
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.skill-card {
  background-color: var(--main-color);
  color: var(--second-color);
  /* border-radius: 9px; */
  padding: 3%;
  min-width: 180px;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-card-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.skill-card-item {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.progress-wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.text-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 3px;
}
.bar-wrap {
  border: 2px solid #00ffff;
  width: 100%;
  margin-bottom: 9px;
  padding: 3px;
  border-radius: 6px;
  background-color: rgb(49, 49, 49);
  text-align: justify;
}
.progress-bar {
  height: 12px;
  width: 90%;
  background-color: cyan;
  border-radius: 3px;
}

/*Interest Icon*/
.interest-icon > svg {
  width: 18%;
}
.interest-icon > svg * {
  fill: var(--main-color-light);
}
/* #aboutme {
  background-color: var(--main-color);
}
#skills {
  color: var(--main-color-dark);
  background-color: var(--third-color);
} */

#skills::after {
  content: "Skill";
  color: white;
  font-size: 36px;
  position: absolute;
  left: -100px;
  z-index: -1;
}
