@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
.app {
  width: 80vw;
  height: 80vh;
  position: relative;
  min-width: 980px;
  min-height: 620px;
  background-color: grey;
  display: flex;
  flex-flow: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5% auto 4% auto;
  overflow: hidden;
}
.nav-wrap {
  width: 5%;
  height: 65%;
  margin-top: 10%;
}
.nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}
.nav-link {
  font-size: 0.3em;
  line-height: 13em;
  width: 100%;
  height: 15%;
  background-color: grey;
  text-decoration: none;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.locked-btn {
  pointer-events: none;
  background-color: coral;
}
.avatar-wrap {
  width: 30%;
  height: 100%;
  background-color: rgb(17, 17, 17);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.avatar {
  background: url(./images/IMG_0584.JPG);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 390%;
  height: 100%;
  width: 100%;
  /* opacity: 0.3; */
  transition: transform 1s, filter 1s;
  filter: blur(3px) grayscale(66%);
}
.avatar:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  filter: blur(0px) grayscale(0%);
}
.page {
  scroll-behavior: smooth;
  width: 0%;
  height: 100%;
  background-color: coral;
}
.page-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.scroll-Target {
  background-color: red;
  opacity: 0;
  transition: opacity 1s,width 2s;
  width: 0%;
  font-family: "Open Sans Condensed", sans-serif;
  clip-path: circle(0%);
  transition: clip-path 1s;
}
.scrolled {
  opacity: 1;
  width: 100%;clip-path: circle(75%);
}
.page-title {
  font-size: 3em;
  line-height: 3em;
  padding-left: 1em;
  background-color: cornflowerblue;
  font-family: "Oleo Script", cursive;
}
.info-content{
text-align: center;
font-size: 1.2em;
line-height: 10vh;
background-color: aqua;
width: 20%;
}
.footer {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}
